<% content_for :page_title do %>Edit User<% end %>
		  <% content_for :main_heading do %>
          <h1>Admin</h1>
		  <% end %>
		  <% content_for :sub_heading do %>
            <h3>Editing <%= @user.email %></h3>
		  <% end %>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
