<% content_for :page_title do %>New Users<% end %>
		  <% content_for :main_heading do %>
          <h1>Admin</h1>
		  <% end %>
		  <% content_for :sub_heading do %>
            <h3>Create User</h3>
		  <% end %>
<%= render 'form' %>

<%= link_to 'Back', sites_path %>
